# Web Arayüzü ve Sohbet Bileşenleri
streamlit
streamlit-chat

# LangChain Çerçevesi ve Entegrasyonlar
langchain
langchain-community
langchain-ollama
langchain-core
langchain-huggingface

# Vektör Veritabanı ve Metin İşleme
chromadb
pypdf
sentence-transformers

# Yardımcı Araçlar
huggingface_hub